[submodule "components/composer-packages/app-config-as-php-constants"]
	path = components/composer-packages/php-app-config
	url = https://github.com/neam/app-config-as-php-constants.git
[submodule "components/composer-packages/yii-dna-deployment"]
	path = components/composer-packages/yii-dna-deployment
	url = https://github.com/neam/yii-dna-deployment.git
[submodule "components/composer-packages/yii-dna-pre-release-testing"]
	path = components/composer-packages/yii-dna-pre-release-testing
	url = https://github.com/neam/yii-dna-pre-release-testing.git
[submodule "components/composer-packages/yii-dna-test-framework"]
	path = components/composer-packages/yii-dna-test-framework
	url = https://github.com/neam/yii-dna-test-framework.git
[submodule "components/composer-packages/yii-dna-debug-modes-and-error-handling"]
	path = components/composer-packages/yii-dna-debug-modes-and-error-handling
	url = https://github.com/neam/yii-dna-debug-modes-and-error-handling.git
[submodule "components/tools/dna-code-generator"]
	path = components/tools/dna-code-generator
	url = https://github.com/neam/dna-code-generator
	branch = phundament-as-dna-code-generator
[submodule "components/composer-packages/docker-stack"]
	path = components/composer-packages/docker-stack
	url = https://github.com/neam/docker-stack.git
[submodule "components/boilerplates/dna-project-boilerplate"]
	path = components/boilerplates/dna-project-boilerplate
	url = https://github.com/neam/dna-project-boilerplate.git
